@model NestedModels.Models.Phone

<div class="phoneNumber" style="background-color: lightcoral">
    <p>
        <label>Phone Number</label>
        @Html.TextBoxFor(x => x.PhoneNumber)
        @Html.HiddenFor(x => x.DeletePhone, new { @class = "mark-for-delete" })
    </p>
    
    <div id="extensions">
        @Html.EditorFor(model => model.Extensions)
    </div>
    
    <input class="addExtension" type="button" value="Add Extension" class="btn" />

    <p style="background-color: black; min-height: 50px;"></p>
</div>

<script type="text/javascript">
    //$(document).ready(function () {
        $(".addExtension").click(function () {
            var extensionDivCount = $("#extensions > div").length;// TODO: instead of #extensions, this should look at the parent, otherwise

            //alert($(this).parent().index());
            // it won't work well when we add multiple phases

            ////////////
            ////////////
            var newExtensionDetailsHTML = "<div class='extension'><p style='background-color: lightblue'><label>Extension Details</label>" +
                "<select class='myselect' data-val='true' data-val-number='The field ExtensionDetailsId must be a number.' " +
                "data-val-required='The ExtensionDetailsId field is required.' id='Phones_0__Extensions_" +
                extensionDivCount +
                "__ExtensionDetailsId' " +
                "name='Phones[0].Extensions[" +
                extensionDivCount +
                "].ExtensionDetailsId'><option selected='selected' value='0'>Option A</option>" +
                "<option value='1'>Option B</option><option value='2'>Option C</option></select><label>Count</label>" +
                "<input id='Phones_0__Extensions_" +
                extensionDivCount +
                "__Count' name='Phones[0].Extensions[" +
                extensionDivCount +
                "].Count' type='text' value='' /></p></div>";
            $("#extensions").append(newExtensionDetailsHTML);
            ////////////
            ////////////

            //var itemIndex = $("#container input.iHidden").length;
            //e.preventDefault();
@*            $.get("@Url.Action("NewExtension", "Employee")/" + extensionDivCount, function (data) {
                $("#extensions").append(data);
            });*@
        });

        function removeRow(index) {
            var rowId = "#trExclusion_" + index;
            $(rowId).remove();
        }
    //});
</script>