@model NestedModels.Models.Phone

<div class="phoneNumber" style="background-color: lightcoral;margin-left: 25px;">
    <p>
        <label>Phone Number</label>
        @Html.TextBoxFor(x => x.PhoneNumber)
        @Html.HiddenFor(x => x.DeletePhone, new { @class = "mark-for-delete" })
    </p>
    
    <div class="extensions" style="margin-left: 25px;">
        @Html.EditorFor(model => model.Extensions)
    </div>
    
    <input class="addExtension" type="button" value="Add Extension" class="btn" />

    <p style="background-color: black; min-height: 50px;"></p>
</div>